/* 
font-family: "Raleway", sans-serif;
font-family: "Open Sans", sans-serif;
*/

/*
 576px -> pantallas pequeñas (celulares)
 768px -> pantallas pequeñas (tablets y celulares)
 992px -> pantallas medianas (Desktop)
 1200px -> pantallas grandes (Desktops, TVs)
*/

/* GENERAL */

*{
/*border: 1px solid red;*/
margin: 0;
box-sizing: content-box;
}

html{
  font-size: 14px;
}

/* UTILITARIOS */

.wrapper {
  width: min(100% - 3rem, 1440px);

}

img{
  max-width: 100%;
  height: auto;
}


/* HEADER SECTION */

body {
  background-color: hsl(218, 28%, 13%);
  color: hsl(0, 0%, 100%);
  font-family: "open sans", sans-serif;
}

a{
  color: inherit;
  text-decoration: none;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  

  margin: 0 auto;
  margin-top: 3rem;
}

.header nav{
  display: flex;
  gap: 3rem;
}

/*HERO SECTION*/

.hero{
  border: 1px solid red;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  padding-top: 3rem;
  padding-bottom: 3rem;
}

.hero__title{

  width: min(100% - 3rem, 720px);

  font-family: "Raleway", sans-serif;
  font-size: 2.5rem;
  font-weight: 700;

  text-align: center;
}

.hero__text{ 
  width: min(100% -3rem, 720px);

  font-weight: 400;
  font-size: 1.2rem;
  text-align: center;
}

.hero__button{
  font-weight: 400;

  border: 0;
  border-radius: 7rem;
  padding: 1rem 1.5rem;
  min-width: 220px;
  color: hsl(0, 0%, 100%);
  background: linear-gradient(to bottom right,hsl(176, 68%, 64%), hsl(198, 60%, 50%))
}

.features{
  border: 1px solid red;

  display: grid;
  grid-template-columns: 340px;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

@media ()

.feature{
  border: 1px solid red;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

/*.features--img{
  display: block;
  width: 100%;
  height: auto;
}*/

.feature--title{ 
  font-family: "Raleway", sans-serif;
}

.feature--text{
  text-align: center;
}

